<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DVLD_Database"
             connectionString="Server=ESSMAT;Database=DVLD;Trusted_Connection=True;Connect Timeout=15;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>